<%if params[:address_id].present? %>
	<tr>
		<td>
			<%= t('users.phone')%>:<%= current_user.phone%>
		</td>
	</tr>
	<tr>
		<td>
			<%= t('users.user.address') %>: <%= current_user.address%>

		</td>
	</tr>
<%else%>
	<tr>
		<td>
			Email: <%= current_user.email%>

		</td>
	</tr>
	<tr>
		<td>
			<%= t('users.user.fullname') %>: <%= current_user.fullname%>

		</td>
	</tr>
	<tr>
		<td>
			<%= t('users.user.phone') %>: <%= current_user.phone%>

		</td>
	</tr>
	<tr>
		<td>
			<%= t('users.user.address') %>Dia chi: <%= current_user.address%>

		</td>
	</tr>
<%end%>