<div class="content-wrapper" style="min-height: 926px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        
        <small><%= @user.fullname%></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Users</a></li>
        <li class="active"><%= @user.email%></li>
      </ol>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
          	<%if @orders.present?%>
	            <div class="box-header">
	              <h3 class="box-title">All orders</h3>
	              <div class="box-tools">
	                <div class="margin"  style=" margin: 0;">
	                  <div class="btn-group">
		                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		                  <i class="fas fa-pen" style="margin-right: 10px;"></i><span class="caret"></span>
		                </button>
		                <ul class="dropdown-menu">
		                    
		                	them sau

		                </ul>
		              </div>
	                </div>
	              </div>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body table-responsive no-padding">
	              <table class="table table-hover">
	                <tbody>
	                  <tr class = "title-table">
	                    <td><input type="checkbox" class= "checkItem" id="checkAll" ></td>
	                    <td><%= t ".order_id" %></td>
	                    <td><%= t ".purchased " %></td>
	                    <td><%= t ".delivery_info " %></td>
	                    <td><%= t ".price"%></td>
	                    <td><%= t ".order_status"%></td>
	                    <td><%= t ".update_date_at "%></td>
	                    <td><%= t ".create_date_at"%></td>
	                    <td><%= t ".view"%></td>
	                  </tr>

	                  
	                    <% @orders.each do |order| %>
	    	              <% user = User.find_by(id: order.user_id) %>
	    	              <% order_details = order.order_details %>

	                      <tr class = "title-table">
	                        <td><input type="checkbox" id="checkItem" class= "checkItem" name= "order" value="<%= order.id %>"></td>
	                        <td> <%=order.id%>	                            
	                        </td>
	                        <td>
	                          <%order_items = 0%>
	                          <% order_details.each do |order_detail| %> 
	                            <%order_items += order_detail.quality%>      
	                          <% end %>
	                          <a href="#"><%=order_items%> items</a>
	                        </td>
	                        <td><% user.fullname %></br>
    							<%= t".phone_number"%>:<% user.phone %></br>
    							<%= t".address"%>:<% user.address %></td>
	                        <td><%=order.total_price%></td>
	                        <td>
	    	                    	<span class = "label <%=order.order_status%>" id = "append-order-status-<%=order.id %>" data-id = "<%= order.order_status %>"><%=order.order_status%>  
	                            </span>   
	                        </td>
	                        <td><%= l(order.updated_at, format: :long)%></td>
	                        <td><%= l(order.created_at, format: :long)%></td> 
	                        <td>
	                          <a href="<%=admin_order_path(order.id)%>"><i class="fa fa-eye"></i></a>
	                        </td>                  
	                      </tr>
	                    <% end %>

	                </tbody>
	              </table>
	            </div>

           	<%else%>

           		<div class="box-header">
	              <h3 class="box-title">All comment</h3>
	              <div class="box-tools">
	                <div class="margin"  style=" margin: 0;">
	                  <div class="btn-group">
		                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		                  <i class="fas fa-pen" style="margin-right: 10px;"></i><span class="caret"></span>
		                </button>
		                <ul class="dropdown-menu">
		                    
		                	them sau

		                </ul>
		              </div>
	                </div>
	              </div>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body table-responsive no-padding">
	              <table class="table table-hover">
	                <tbody>
	                  <tr class = "title-table">
	                    <td><input type="checkbox" class= "checkItem" id="checkAll" ></td>
	                    <td><%= t ".comment_content" %></td>
	                    <td><%= t ".in_response_to " %></td>
	                    <td><%= t ".submitted_on"%></td>
	                    <td><%= t ".updated_on"%></td>
	                    <td><%= t ".action"%></td>
	                  </tr>

	                  
	                    <% @comments.each do |comment| %>
	    	              <% product = Product.find_by(id: comment.product_id) %>

	                      <tr class = "title-table">
	                        <td><input type="checkbox" id="checkItem" class= "checkItem" name= "comment" value="<%= comment.id %>"></td>
	                        <td class= "content"><%=comment.content%></td>
	                        <td class = "index-img aaa" >
	                        	<%=image_tag product.image.first if product.image.attached? %>
	                        	<span class = "pr-name"><%=product.name%></span>
	                        </td>
	                        <td class= "time"><%= l(comment.created_at, format: :long)%></td>
	                        <td class= "time"><%= l(comment.updated_at, format: :long)%></td>	                       
	                        <td>
	                          <a href="#"><i class="fa fa-reply"></i></a>
	                          <a href="#"><i class="fas fa-times-circle"></i></a>
	                        </td>                  
	                      </tr>
	                    <% end %>

	                </tbody>
	              </table>
	            </div>
	        <% end %>

          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>